.about-body {
  width: 100%;
  height: 100%;
  border: 1px solid blue
}

.about-nav {
  background-color: rgb(194, 238, 255);
}

.about-title-row {
  height: 22vh;
  width: 100%;
  background-color: rgb(194, 238, 255);
  text-align: center;
  padding-top: 25px;
  -webkit-text-stroke: .25px rgb(160, 160, 160);
  color: rgb(56, 56, 56);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}

.about-info-row {
  height: 68.7vh;
  border: 1px solid black;
}

.about-info {
  border: 1px solid red;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  height: 100%;
}

.icon{
  height:100px;
  position: relative;
  bottom: 10px;
}

