.dash-body {
  height: 92vh;
  width: 100vw;
}

.row-top {
  height: 45vh;
  width: 100vw;
  background-color: rgb(154, 214, 236);
  float: left;
}

.row-bottom {
  height: 47vh;
  width: 100vw;
  background-color: rgb(154, 214, 236)
}

.charts {
  height: 92%;
  width: 58%;
  margin-top: .5%;
  margin-left: 1%;
  background-color: rgb(224, 240, 250);
  border-radius: 5px;
  border: solid 1.5px rgb(185, 185, 185);
  box-shadow: 2.5px 2.5px 2.5px black;
}

.calendar {
  height: 92%;
  width: 39%;
  float: left;
  margin-top: .5%;
  margin-left: 1%;
  background-color: rgb(224, 240, 250);
  border-radius: 5px;
  border: solid 1.5px rgb(185, 185, 185);
  box-shadow: 2.5px 2.5px 2.5px black;
}

.user-data {
  height: 96%;
  width: 58%;
  margin-left: 1%;
  background-color: rgb(224, 240, 250);
  border-radius: 5px;
  border: solid 1.5px rgb(185, 185, 185);
  box-shadow: 2.5px 2.5px 2.5px black;
}

.scrape {
  height: 96%;
  width: 39%;
  float: left;
  margin-left: 1%;
  background-color: rgb(224, 240, 250);
  border-radius: 5px;
  border: solid 1.5px rgb(185, 185, 185);
  box-shadow: 2.5px 2.5px 2.5px black;
}

.line-container {
  height: 92.25%;
  width: 75%;
  display: inline-block;
  margin-top: 12.25px;
  margin-left: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid 1px rgb(224, 224, 224);
  box-shadow: 1px 1px 1px rgb(121, 121, 121);
}

.pie-container {
  width: 22%;
  height: 93%;
  display: inline-block;
  margin-left: 11px;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid .5px rgb(206, 206, 206);
  box-shadow: 1px 1px 1px rgb(121, 121, 121);
}

.calendar-container {
  height: 62%;
  width: 97%;
  margin-top: 10px;
  margin-left: 1.5%;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid .5px rgb(206, 206, 206);
  box-shadow: 1px 1px 1px rgb(121, 121, 121);
}

.search-container {
  height: 28%;
  width: 97%;
  margin-top: 10px;
  margin-left: 1.5%;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid .5px rgb(206, 206, 206);
  box-shadow: 1px 1px 1px rgb(121, 121, 121);
}

.user-data-container {
  height: 94%;
  width: 97.75%;
  margin-top: 11px;
  margin-left: 1.25%;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid .5px rgb(206, 206, 206);
  box-shadow: 1px 1px 1px rgb(121, 121, 121);
}

.scrape-container {
  height: 94%;
  width: 97.5%;
  margin-top: 11px;
  margin-left: 1.25%;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid .5px rgb(206, 206, 206);
  box-shadow: 1px 1px 1px rgb(121, 121, 121);
}